body {
    margin: 0;
    font-family: "Gill Sans", sans-serif;
    background-color: #e3e3db;
    color: #060606;
}

.floating-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e3e3db;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
}
  
.logo {
    display: inline-block;
    height: 150px;
}
  
.logo img {
    width: auto;
    height: 100%; 
}

.hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: #e3e3db;
    color: #060606;
    border: none;
    border-radius: 3px;
    font-size: 3rem;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.menu.show {
    transform: translateX(0);
}

.menu-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    font-size: 24px;
    padding-left: 20px;
}

.menu-button:hover {
    text-decoration:underline;
}

.video-overlay.blur video {
    filter: blur(5px); 
}

#searchBar {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
}

.video-container {
    position: relative;
  }
  
.video-container video {
    width: 100%;
    height: auto;
}
  
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e3e3db;
    z-index: 1;
}
  
.text-overlay h1 {
    font-size: 40px;
}

.width-video {
    width: 100%;
    object-fit: fill;
}

#mantras {
    font-family: cursive;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

#asanaCards {
    margin: 2rem;
}

.card {
    text-align: center;
    border: 2mm ridge #060606 ;
    padding: 1rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 5px 7px #e3e3db; 
}

.asana-pic {
    justify-self: center;
    height: 12rem;
    width: auto;
}

.hidden {
    display: none;
}

#aboutInfo {
    position: relative;
    padding: 1em 0;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align: center;
}

#aboutBtn {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: #060606;
    color: wheat;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

#aboutBtn:hover {
    background-color: #1d1d1d;
}

.learn-more-btn {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background-color: #060606;
    color: wheat;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.learn-more-btn:hover {
    background-color: #1d1d1d;
}

.creator-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
